/* --------- GOOGLE FONT ------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


/* --------- CSS RESET ------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

img {
    width: 100%;
}



/* --------- CSS VARIABLES ------------ */




/* --------- CSS REUSE STYLES ------------ */

h1,h2,h3 {
    color: #606d5f;
}

p, li, a, button {
    color: #888888;
}

p {
    font-size: 1.8rem;
    line-height: 150%;
    font-size: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    line-height: 3.6rem;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;

}

section {
    padding: 0 20rem;
    width: 100%;
    height: 100%;
}


/* --------- HEADER SECTION ------------ */
header {
    padding: 0 20rem;
    width: 100%;
}
header nav {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    align-items: center;
}

header nav .logo h1 {
    font-size: 3rem;
}

header nav .menu {
    display: flex;
}

header nav .menu a {
    text-transform: capitalize;
    margin-left: 4rem;
    font-size: 2rem;
    line-height: 3.6rem;
    transition: all 0.2s;
}

header nav .menu a:hover{
    color: #4b709e;
}


/* --------- HERO SECTION ------------ */
.hero-section {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 0;
}

.hero-section .hero-content {
    width: 50%;
}

.hero-section .hero-content h1 {
    text-transform: capitalize;
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 3rem;
    max-width: 40rem;
}

.hero-section .hero-content p {
    margin-bottom: 3rem;
}

.hero-section .hero-img {
    width: 50%;
}


/* --------- MAIN SECTION ------------ */

/* ------- Product Section ------- */
.products-section {
    margin: 12rem 0;
    /* background-color: brown; */
}

.products-section .section-title{
    font-size: 5rem;
    text-align: center;
    line-height: 5rem;
    margin-bottom: 4rem;
    text-transform: capitalize;
}

.products-section .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-items: center;
}

.products-section .products .product-card {
    width: 25rem;
    height: 25rem;
    background-color: #efefefef;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 2rem;
}

.products-section .products .product-card .price {
    font-size: 2.2rem;
    font-weight: 700;
}

.products-section .products .product-card img {
    width: 80%;
    border-radius: 50%;
}

.products-section .products .product-card .btn--buy-now{
    background-color: #FFF;
    border: 2px solid #efefefef;
    padding: 1rem 2rem;
    border-radius: 1rem;
    line-height: 1rem;
    font-size: 1.5rem;
}




/* --------- FOOTER SECTION ------------ */
footer {
    margin-top: 5rem;
    background-color: #efefefef;
    color: #FFF;
    font-size: 1rem;
    padding: 1rem 2rem;
    line-height: 1rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* -------------- RESPONSIVE DESIGN ------------- */
/* Responsive for mobile devices */
@media (max-width: 576px){
    header, section, footer {
        padding: 0 5rem;
    }

    header nav .logo h1 {
        font-size: 2rem;
    }

    header nav .menu a {
        margin-left: 1rem;
        font-size: 1.5rem;
    }

    .hero-section {
        flex-direction: column;
    }

    .hero-section .hero-content {
        order: 2;
        width: 100%;
        text-align: justify;
    }

    .hero-section .hero-content h1 {
        font-size: 2rem;
        width: 100%;
        line-height: 3rem;
        margin-bottom: 2rem;
    }

    .hero-section .hero-content p {
        font-size: 2rem;
        margin-bottom: 5rem;
    }

    .hero-section .hero-img {
        width: 100%;
    }

    .hero-section .hero-img img {
        width: 100%;
    }

    .products-section .section-title {
        font-size: 3rem;
        line-height: 5rem;
    }

    .products-section .products {
        grid-template-columns: repeat(1, 1fr);
    }

    footer p {
        font-size: 1rem;
    }


}